* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 50px;
}

nav {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    box-shadow: 0 0 10px whitesmoke;
    width: 100%;
    height: 50px;
    background-color: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 5px 20px;
}

nav ul li a {
    color: #D76F00;
    text-decoration: none;
}

.task {
    margin-bottom: 50px;
    width: 100%;
}

.task-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.task-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
}

.task-1-images {
    display: flex;
    justify-content: space-between;
    width: 460px;
    padding: 20px 20px;
    background-color: grey;
}

.task-1-images .images-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.task-1-images .images-column .images-column-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    background-color: white;
}

.task-1-images .images-column .images-column-item:hover {
    background-color: pink;
    cursor: pointer;
}

.taks-2-list {
    position: relative;
}

.taks-2-list ul {
    list-style: none;
}

.taks-2-list ul li {
    padding-left: 20px;
    color: #D76F00;
}

.taks-2-list ul li::after {
    position: absolute;
    left: 0;
    font-family: FontAwesome;
}

.taks-2-list ul li:nth-child(1)::after {
    content: "\f002";
}

.taks-2-list ul li:nth-child(2)::after {
    content: "\f27a";
}

.taks-2-list ul li:nth-child(3)::after {
    content: "\f004";
}

.taks-2-list ul li:nth-child(4)::after {
    content: "\f055";
}

.taks-2-list ul li:nth-child(5)::after {
    content: "\f056";
}

.taks-2-list ul li:nth-child(6)::after {
    content: "\f057";
}

.task-2-quote {
    border-left: 4px solid #2286EC;
    padding: 15px 20px;
    font-family: FontAwesome;
    background-color: #F6E6AD;
}

.task-2-quote label::before {
    content: "\f100";
    color:  #D76F00;
}

.task-2-quote label::after {
    content: "\f101";
    color:  #D76F00;
}

.task-3-table {
    width: 250px;
}

.task-3-table tr th {
    border: 1px solid grey;
    padding: 5px;
    background-color: grey;
    text-align: left;
}

.task-3-table tr td {
    border: 1px solid grey;
    padding: 5px;
}

.task-3-table tr td:nth-child(odd) {
    font-weight: bold;
    background-color: lightgrey;
}

.task-3-table tr td:nth-child(even) {
    text-align: right;
}

